//Grid
@import 'reset.scss';
//@import 'bootstrap/bootstrap.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&subset=latin-ext);

@mixin font-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Lato', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

.pull-right {
  float: right;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.form-group {
  margin-bottom: 20px;
}
.todo-list-wrapper {
  margin: 20px auto 0 auto;
  width: 600px;
  @include font-regular;
}
.list-group-item-done {
  text-decoration: line-through;
  background-color: #efefef;
}

.hide {
  display: none;
}
.btn-wrapper {
  button {
    margin-right: 5px;
  }
}

.todoForm-edit {
  float: left;
  width: 80%;
}
